[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"
pytest = "*"
requests = "*"
jsonschema = "*"
celery = "*"
redis = "*"
python-dateutil = "*"
awesome-slugify = "*"
alembic = "*"
algoliasearch = ">=2.0,<3.0"
email-validator = "*"
sendgrid = "*"

[requires]
python_version = "3.7"
