[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
mypy = "*"
faker = "*"

[packages]
alembic = "*"
algoliasearch = "*"
databases = { extras = ["postgresql"], version = "*" }
fastapi = "*"
pillow = "*"
sqlalchemy = "<1.4"
pyjwt = "*"
boto3 = "*"
email-validator = "*"
python-multipart = "*"
httpx = "*"
uvicorn = { extras = ["standard"], version = "*" }
gunicorn = "*"
psycopg2-binary = "*"
python-slugify = { extras = ["unidecode"], version = "*" }
types-python-slugify = "0.1"

[requires]
python_version = "3.9"
