[tool.poetry]
name = "edm_su_api"
version = "1.3.0"
description = "edm.su backend"
authors = ["Egor <eagluhih@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
alembic = "^1.8"
fastapi = "^0"
Pillow = "^9.1.1"
SQLAlchemy = "^1.4"
PyJWT = "^2.4.0"
email-validator = "1.2.1"
python-multipart = "^0.0.5"
httpx = "^0.23.0"
gunicorn = "^20.1.0"
types-python-slugify = "^5.0.2"
databases = { version = "^0.6", extras = ["postgresql"] }
uvicorn = { extras = ["standard"], version = "^0.18.2" }
python-slugify = { extras = ["unidecode"], version = "^6.1" }
aiohttp = "^3.8.1"
psycopg2 = "^2.9.2"
aioboto3 = "^9.6.0"
meilisearch-python-async = "^0.24.0"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
flake8 = "^5.0.4"
mypy = "^0.971"
Faker = "^13.11.1"
pytest-cov = "^3.0.0"
pytest-mock = "^3.10.0"
tenacity = "^8.0.1"
isort = "^5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true
exclude = ["alembic/*"]

[tool.black]
line-length = 79
target-version = ["py310"]

[tool.isort]
profile = "black"
line_length = 79
skip = ["alembic"]