[tool.poetry]
name = "edm_su_api"
version = "1.3.0"
description = "edm.su backend"
authors = ["Egor <eagluhih@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
alembic = "^1.9"
fastapi = { version = "^0", extras = ["all"] }
Pillow = "^9.4.0"
SQLAlchemy = "^1.4"
PyJWT = "^2.6.0"
gunicorn = "^20.1.0"
types-python-slugify = "^8.0.0"
databases = { version = "^0.7", extras = ["postgresql"] }
python-slugify = { extras = ["unidecode"], version = "^8.0" }
aiohttp = "^3.8.1"
psycopg2 = "^2.9.5"
aioboto3 = "^10.3.0"
meilisearch-python-async = "0.24.1"

[tool.poetry.group.test.dependencies]
pytest = "^7.2.1"
pytest-asyncio = "^0"
Faker = "^18.2.0"
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"
tenacity = "^8.0.1"

[tool.poetry.group.lint]
optional = true

[tool.poetry.group.lint.dependencies]
flake8 = "^6.0.0"
mypy = "^0.991"
isort = "^5.12.0"
black = "^22.12.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true
exclude = ["alembic/*"]

[tool.black]
line-length = 79
target-version = ["py310"]

[tool.isort]
profile = "black"
line_length = 79
skip = ["alembic"]