[tool.poetry]
name = "edm_su_api"
version = "1.3.0"
description = "edm.su backend"
authors = ["Egor <eagluhih@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
alembic = "^1.6"
algoliasearch = ">=2.5,<3.0"
fastapi = "^0.76.0"
Pillow = "^9.1.0"
SQLAlchemy = "^1.4"
PyJWT = "^2.3.0"
email-validator = "1.1.3"
python-multipart = "^0.0.5"
httpx = "^0.22.0"
gunicorn = "^20.1.0"
types-python-slugify = "^5.0.2"
databases = { version = "^0.5", extras = ["postgresql"] }
uvicorn = { extras = ["standard"], version = "^0.17.0" }
python-slugify = { extras = ["unidecode"], version = "^6.1" }
aiohttp = "^3.8.1"
psycopg2 = "^2.9.2"
aioboto3 = "^9.5.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
flake8 = "^4.0.1"
mypy = "^0.942"
Faker = "^13.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
