name: Lint

on:
  pull_request:
    branches:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - name: Setup python
        uses: actions/setup-python@v4.3.1
        with:
          python-version: 3.11
          check-latest: true
          cache: 'poetry'
      - name: Install dependencies
        run: |
          poetry install --only lint
      - name: Install Reviewdog
        uses: reviewdog/action-setup@v1
      - name: Run reviewdog
        run: |
          reviewdog -reporter=github-pr-check -fail-on-error=true -conf=.reviewdog.yml
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
